

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #030303;
}

.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #bb3838;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #551111;
}

form input {
    font-size: 16px;
}

form button {
    background-color: #7e0606;
    color: rgb(20, 17, 17);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #000000;
}
